In [1]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [2]:
len(multiline_string)

3

In [3]:
list(multiline_string)

['a', '\n', 'b']

In [5]:
today = "wednesday"
today

'wednesday'

In [6]:
today[0]

'w'

In [7]:
today[1]

'e'

In [8]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [9]:
fruits[1] = 'blueberry'

In [10]:
fruits

['apple', 'blueberry', 'cherry']

In [11]:
fruits.append('dates')

In [12]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

In [13]:
fruits.insert(1,'banana')

In [14]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

In [16]:
'pineapple' in fruits

False

In [17]:
'cherry' in fruits

True

In [19]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits

['apple',
 'banana',
 'blueberry',
 'cherry',
 'dates',
 'pineapple',
 'tomato',
 'guava',
 'dates',
 'banana']

In [20]:
the_3_musketeers = 'Authos', 'Porthos', 'Aramis'
the_3_musketeers

('Authos', 'Porthos', 'Aramis')

In [21]:
type(the_3_musketeers)

tuple

In [22]:
person_1 = {
    'name':'John Doe',
    'sex':'Male',
    'age':'32',
    'married':'True'
}
person_1

{'name': 'John Doe', 'sex': 'Male', 'age': '32', 'married': 'True'}

In [24]:
person_2 = dict(name='Jane Judy', sex='Female', age='28', married=False)

In [25]:
person_2

{'name': 'Jane Judy', 'sex': 'Female', 'age': '28', 'married': False}

In [26]:
person_1['name']

'John Doe'

In [27]:
person_1['married']

'True'

In [28]:
person_2['name']

'Jane Judy'

In [29]:
person_2.get("name")

'Jane Judy'

In [31]:
person_2.get("address", "Unknown")

'Unknown'

In [33]:
'name' in person_1

True

In [34]:
'address' in person_1

False

Branching with if, else and elif
if condition:
	statement1
	statement2

In [35]:
a_number = 34

In [40]:
if a_number % 2 == 0:
    print("We're inside an if statement")
    print('The given number {} is even'.format(a_number))

We're inside an if statement
The given number 34 is even

In [42]:
result = 1
i = 1
while i<=100:
    result=result*i
    i=i+1
    
print('The factorial of 100 is : {}'.format(result))

The factorial of 100 is : 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [43]:
%%time
result=1
i=1
while i<=1000:
    result*=i
    i+=1
print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: total: 31.2 ms
Wall time: 258 ms

In [53]:
line = '*'
max_length = 10
while len(line)<=max_length:
    print(line)
    line+="*"
while len(line) > 0:
    print(line)
    line=line[:-1]

*

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

In [55]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [56]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [59]:
for fruit in ['apple', 'banana', 'guava']:
	print("Here's a fruit:",fruit)

Here's a fruit: apple
Here's a fruit: banana
Here's a fruit: guava

In [81]:
person = {
    'name':'John Doe',
    'sex':'Male',
    'age':'32',
    'married': True
}
for key in person:
	print("key:", key, ",", "Value:", person[key])
person.values()
person.keys()
for key_value_pair in person.items():
    print(key_value_pair)

key: name , Value: John Doe
key: sex , Value: Male
key: age , Value: 32
key: married , Value: True
('name', 'John Doe')
('sex', 'Male')
('age', '32')
('married', True)

In [92]:
def filter_even(number_list):
    result_list=[]
    for number in number_list:
        if number%2 == 0:
            result_list.append(number)
    return result_list

In [93]:
even_list = filter_even([1,2,3,4,5,6,7])
even_list

[2, 4, 6]